<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>AppCRUD | Aplicación Básica</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

	<main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Actualizacion de registro Crud</strong></h4>              
          <div class="card-body">
            <form th:action="@{/users/actualizado}" method="POST">
            	
            	<!--<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            	Por favor corrija los siguientes errores:
            		<ul>
            			<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            		</ul>
            	</div>-->
          	              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" placeholder="Primer nombre legal" required="required">
                  </div>
                </div>
                
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Apellido</label>
                    <input type="text" name="apellido" placeholder="Primer apellido legal" required="required">
                  </div>
                </div>
               </div>
               
               <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nusuario">Nombre de usuario</label>
                    <input type="text" name="nusuario" placeholder="Nombre de usuario" required="required">
                  </div>
                </div>
                
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="passwork">Contraseña</label>
                    <input type="text" name="passwork" placeholder="Contraseña de seguridad" required="required">
                  </div>
                </div>
               </div>
              
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select class="form-control" name="genero">
                      <option value="femenino">Femenino</option>
                      <option value="masculino">Masculino</option>  
                    </select>
                  </div>

              <hr>
               
              <button type="submit" class="btn btn-primary">registrar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>

  </body>
</html>